body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(204, 216, 237);
}

#logo {
    height: 150px;
    width: 33%;
    margin-left: 30px;
}

.subtitle{
    background-color: #383865;
}

.search-form{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-top: 50px;
}

#search-bar{
    width: 350px;
    height: 35px;
    border-radius: 25px;
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
}

#search-button{
    border-radius: 18px;
    
    height:35px;
    width: 50px;
}

.navbar{
    background-color: #555585;
    height: 60px;
    border: 2px #9F9FC2 solid;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.navbar-div{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);

}

.navbar a{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;

    transition: color 0.2s, background-color 0.2s;
}

.navbar a:hover {
    color: skyblue; 
    animation: glow 2s infinite alternate; 
    background-color: #555585; 
    border-radius: 10px;

}

@keyframes glow {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.5); 
    }
}

.display{
    border: 5px solid #383865;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    background-image: linear-gradient(to bottom, #383865 0%, #74bdce 100%);
    border-radius: 10px;
    padding: 20px;
    width: 80vw;
}

.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 80vw;
}
  
.slide.active {
    display: flex;
    opacity: 1;
}

#nextButton{
    background-color: transparent;
    color: #ffffff; 
    border: 2px solid #ffffff;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
    margin-left: 5%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#nextButton:hover {
    background-color: #ffffff;
    color: #333333;
    border-color: transparent; 
}
#prevButton{
    background-color: transparent;
    color: #ffffff; 
    border: 2px solid #ffffff;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#prevButton:hover {
    background-color: #ffffff;
    color: #333333;
    border-color: transparent;
}

.option_label {

    color: white;
    font-size: 15px;

}

.api_link {
    background-color: #74bdce;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid #383865;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.api_display{
    border: 5px solid #383865;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #383865 0%, #74bdce 100%);
    border-radius: 10px;
    padding: 20px;
    width: 80vw;
}

#data_display {
    border: 5px solid #383865;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    padding: 40px;
    background-image: linear-gradient(to bottom, #383865 0%, #74bdce 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#data_graphs {
    margin: 50px;
}

#render_btn {

    border-radius: 5px;
    width: 100px;
    padding: 12px;
    color:white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: #231c54;

}

#s_render_btn {

    border-radius: 5px;
    width: 100px;
    padding: 10px;
    color:white;
    font-size: 11px;
    font-weight: bold;
    border: none;
    background-color: #231c54;
    
}

#more_info {

    border-radius: 5px;
    width: 150px;
    padding: 12px;
    color:white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: #6255b8;

}

#about-img{
   text-align: center;
   font-size: 25px;
   width: 40%;
   color: white;
   justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;
   
}

#about-us{
   
    font-size: 50px;
    
}
.dna{
    height: 400px;
    width: 50%;
    display: flex;
    float: right;
    border-radius: 10px;
    
}

/* .about-us{
    color: white;
} */

.articles-div {
    border: 5px solid #74bdce;
    margin-left: 120px;
    margin-right: 120px;
    display: block;
    border-top: transparent;
    background-image: linear-gradient(to top, #383865 0%, #74bdce 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#image, #image2, #image3{
    height: 50%;
    width: 50%;
    border-radius: 18px;
    margin-top: 20px;
}

.articles-api{
    color: white;
    text-align: center;
    border: 3px solid #7474b6;
    border-radius: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    /* background-color: rgb(64, 58, 58); */
}

#article-source, #article-source2, #article-source3{
    font-size: 20px;
}


.temp-articles{
    border: 2px solid #5b5b87;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    border-top: transparent;
    background-image: linear-gradient(to bottom, #453a94 0%, #231c54 80%);
    height: 800px;
}

#articles {
    color: white;
    border: 5px solid #74bdce;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: -20px;
    display: flex;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #74bdce;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#walter {
    margin-top: 2%;
    height: 200px;
    width: 26%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    float: left; 
}
#jesse {
    margin-top: 2%;
    height: 200px;
    width: 28%;
    display: flex;
    float: right;
}
#hank {
    margin-top: 2%;
    height: 200px;
    width: 26%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    float: right; 
}

#cancer{
    width: 50%;
    height: 300px;
    margin-top: 65px;
    border-radius: 10px;
}

#aadith {
    margin-top: 3%;
    border: 5px solid #74bdce;
    margin-left: 120px;
    margin-right: 120px;
    
    background-image: linear-gradient(to bottom, #74bdce 0%, white 80%);
    border-radius: 10px;
    padding: 20px;
}
#yang {
    margin-top: 3%;
    border: 5px solid #74bdce;
    margin-left: 120px;
    margin-right: 120px;
    background-image: linear-gradient(to bottom, #74bdce 0%, white 80%);
    border-radius: 10px;
    padding: 20px;
}
#brian {
    margin-top: 3%;
    border: 5px solid #74bdce;
    margin-left: 120px;
    margin-right: 120px;
    background-image: linear-gradient(to bottom, #74bdce 0%, white 80%);
    border-radius: 10px;
    padding: 20px;
}

.dict-display{
    border: 5px solid #383865;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #383865 0%, #74bdce 100%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    height: 800px;
}

#dict-heading{
    color: #383865;
    text-align: center;
}

.dictionary{
    width: 400px;
    height: 500px;
    /*transform: translateX(420px); */
    transform: scale(1.4);
    
    
}


/* QUIZZ STUFF */

#start-btn{
    height: 60px;
    border-radius: 10px;
    width: 70px;
    background-color: rgb(142, 220, 253);
}

/* END OF QUIZ STUFF */
