body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(22, 22, 22);
}

#logo {
    height: 150px;
    width: 33%;
    margin-left: 30px;
}

.subtitle{
    background-color: #383865;
}

.search-form{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-top: 50px;
}

#search-bar{
    width: 250px;
    height: 30px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}

.navbar{
    background-color: #555585;
    height: 45px;
    border: 2px #9F9FC2 solid;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.navbar a{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

.display{
    border: 2px solid #5b5b87;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    background-image: linear-gradient(to top, #da72cd -10%, #453a94 100%);
}

#about-img{
   text-align: center;
   font-size: 28px;
   width: 30%;
   color: white;
   
}
#dna{
    height: 400px;
    width: 70%;
    display: flex;
    float: right;
    
}

.about-us{
    color: white;
}