@mixin cards {
  display: flex;
  height: 20vh;
  width: 15%;
  background-color: $card_color;
  color: $nav_page_color;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  .cont3-img {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
  }
}

.card-1 {
  @include cards;
  margin-right: 70px;
}
.card-2 {
  @include cards;
  margin-right: 70px;
}
.card-3 {
  @include cards;
  margin-right: 70px;
}
.card-4 {
  @include cards;
}
