@mixin bg-image {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/md.jpg");
  @include bg-image;
}

.container_2 {
  height: 70vh;
  position: relative;
  margin-top: 0;
  display: flex;
}

.container_3 {
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_4 {
  height: 80vh;
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.container_a {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/nci.jpg");
  @include bg-image;
}

.container_a_2 {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 20vh;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
