@mixin sects {
  height: 60vh; /* This controls the overall height of the section */
  position: relative;
  width: 95%;
  margin-top: 5vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
}

.sect-one {
  @include sects;
  align-items: flex-start; /* Align them at the top */
}

.sect-two {
  @include sects;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 160vh;
}

/* Hide spinner initially */
.loading {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loading .spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

#sectOneContent {
  display: flex;
  justify-content: space-between; /* Add space between the two columns */
  align-items: flex-start; /* Align them at the top */
  padding: 20px;
  width: 95%;
}

#content-table {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  .left-section {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    .paragraph-content {
      padding: 20px;
      border: 1px solid #ddd;
      background: #f9f9f9;
      overflow-y: auto;
      max-height: 80vh;
    }
  }

  .right-section {
    width: 50%;
    height: 100vh;
    background-color: pink;
    .paragraph-content {
      padding: 20px;
      border: 1px solid #ddd;
      background: #f9f9f9;
      overflow-y: auto;
      max-height: 80vh;
    }
    .graph {
      height: 300px;
      border: 1px solid #ddd;
      background: #fff;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
    }

    .popup-button {
      background-color: #3498db;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

#sectOneContent {
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between left and right columns */
  align-items: flex-start; /* Align at the top */
  width: 100%; /* Full width of the parent container */
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column; /* Stack the elements (dropdown, gene info) vertically */
  width: 45%; /* Adjust width for left content */
}

.gene-info {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  width: 100%; /* Full width of the left column */
}

.gene-description {
  border: 1px solid #ddd;
  padding: 10px;
  width: 45%; /* Adjust width for the description section */
  max-height: 100%; /* Prevent overflow */
  overflow-y: auto; /* Scroll if content exceeds container height */
}

.dropdown {
  position: relative;
  width: 100%; /* Ensure the dropdown width is 100% of its parent container */
  margin-bottom: 20px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Prevent padding from increasing the total width */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%; /* Match the dropdown content width to the parent (search input) */
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  z-index: 1;
  box-sizing: border-box; /* Ensure the border doesn't affect the total width */
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

@mixin boxes {
  display: flex;
  height: 60vh;
  width: 80%;
  border: 1px solid black;
}

.pie {
  @include boxes;
}

.bar {
  @include boxes;
}
