.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  height: 15vh;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease, padding 0.3s ease;
  z-index: 1000; // Ensure it's on top of other elements

  .logo {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    #logo_id {
      height: 75px;
      transition: height 0.3s ease;
    }
  }

  .pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    width: 50%;

    a {
      text-decoration: none;
      color: white;
      margin-left: 40px;
      transition: color 0.3s ease;
      &.active {
        color: $nav_page_color;
      }
      &:hover {
        color: $nav_page_color;
      }
    }
  }

  &.scrolled {
    background-color: rgb(2, 66, 101);
    .logo #logo_id {
      height: 80px;
    }
  }
}
